@page
@model ClassPortal.Pages.RecordsModel

@{
    ViewData["Title"] = "Records";
}

@if (Model.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @Model.Error
    </div>
}
else
{
    if (Model.College.BannerURL == null)
    {
        <h1 align="center">
            @Model.College.Name
        </h1>

    }
    else
    {
        <div align="center">
            <img src="@Model.College.BannerURL" style="object-fit: contain; width: 100%; height: 250px;" />
        </div>
    }

    <p>
        Records for @Model.Student.FirstName @Model.Student.LastName (@Model.Student.StudentNumber)
    </p>
    <h2>
        Enrolled Schedule
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.Course.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.EndTime)
                </th>
                <th>
                    Section @Html.DisplayNameFor(model => model.Schedules[0].Section.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.Professor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schedules[0].Section.Details)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Schedules)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Course.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Professor)
                </td>
                <td>
                    @Html.Raw(item.Section.Details)
                </td>
            </tr>
            }
        </tbody>
    </table>


    <h2>
        Course Transcript
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Semester
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseRecords[0].Course.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseRecords[0].Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseRecords[0].Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CourseRecords)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <h2>
        Degree Completions
    </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Semester
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeRecords[0].Degree.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DegreeRecords)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semester.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Degree.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<p>
    <a href="/Index">&larr; try another search</a>
</p>
