@page
@model ClassPortal.Pages.RecordsModel

@{
    ViewData["Title"] = "Records";
}



<h1>Records</h1>

@if (Model.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @Model.Error
    </div>
}
else
{
    <p>
        Records for @Model.Student.FirstName @Model.Student.LastName (@Model.Student.StudentNumber)  
    </p> 
    <table class="table">
        <thead>
            <tr>
                <th>
                    Semester
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Course.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record[0].Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Record)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<p>
    <a href="/Index">&larr; try another search</a>
</p>
